services:
  database:
    container_name: postgis
    image: postgis/postgis:latest
    restart: always
    hostname: docker-postgis
    environment: { "POSTGRES_PASSWORD": "pgpass", "POSTGRES_USER": "postgres", "TZ": "utc" }
    volumes: [ "./20-create-role.sql:/docker-entrypoint-initdb.d/20-create-role.sql:ro", "./30-pgstac.sql:/docker-entrypoint-initdb.d/30-pgstac.sql:ro" ,"./psqlrc:/etc/postgresql-common/psqlrc:ro"]
    ports: [ "25432:5432" ]
    networks: [ "pgnet" ]
    platform: linux/amd64
networks:
  pgnet:
    name: postgis-net
    ipam: { "driver": "default", "config": [ {"subnet": "10.0.1.0/24" } ] }
